
#disable log
*.log

#disable deps
/deps/assimp/
/deps/crossguid/
/deps/flecs/
/deps/glad/
/deps/glfw/
/deps/glm/
/deps/imgui/
/deps/spdlog/
/deps/stb/
/deps/taskflow/
/deps/.bootstrap.json
bin/logs
/TMake/
#disable build
build
.vscode
.idea
.clang-format
CMakeGen


#disable dll
flecsd.dll
imgui.ini

/Experimental/
/bin/data/Container/
/bin/data/font/
/bin/data/glTF-Sample-Models/
/bin/data/rubber_duck/
/bin/data/glTF-Sample-Models/
/bin/
/ReadMe/
/build/SandBox/
/build/SandBox/Debug/
